# File types #
##############
*.pdf

# pycache folder #
__pycache__*

# build folders #
dist/*
*.egg*

# archive folder - for old files #
archive

# docs folder - remove once documentation is complete #
docs
