---
---

@import "{{ site.theme }}";

code, pre {
  font-family: monospace;
  font-size: 1.1em;
}

h1.title {
  font-style: normal;
}

.markdown-body pre {
  box-shadow: inset 0 0 6px #000;
  margin-left: 0px;
  padding: 10px;
  padding-left: 15px;
  padding-right: 70px;
}

.markdown-body pre.lines {
  margin-right: 0;
  line-height: 1.735em;
}

.wrapper {
  width: 800px;
}
